##vTigerCRM
config.inc.php
config.performance.php
log4php.properties
htaccess.txt

##Modo 2
##/config.inc.php
##/config.performance.php
##/log4php.properties

##Directorios
test/*
user_privileges/*
storage/*
cache/*
backup/*
ayuda/*
logs/*

##Directorios Modo 2
##/test/
##/user_privileges/
##/storage/
##/cache/
##/logs/
##/backup/
##/ayuda/

## SugarCRM
# Ignore custom .htaccess stuff.
##/.htaccess
##/htaccess.txt
# Ignore the cache directory completely.
# This will break the current behaviour. Which was often leading to
# the misuse of the repository as backup replacement.
# For development the cache directory can be safely ignored and
# therefore it is ignored.
